.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.hand-list {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.hand-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bold;
  color: #444;
  padding: 2px;
  margin: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid rgba(179, 107, 0, 0.5);
} 
.first-hand {
  background-color: #444;
  color: white;
}
.hands-modal {
  padding: 32px;
}
.modal-header {
  padding: 12px;
}
/* .code-button {
  padding: 0;
  flex-flow: row-reverse;
} */